.rule-builder-box {
    border: 1px solid #dddbda;
    border-radius: 0.25rem;
    background-color: #f3f2f2;
    border-left: 3px solid #0176d3;
}

.rule-builder-box:hover {
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.slds-section__title {
    background-color: #fafaf9;
    padding: 0.5rem;
    border-radius: 0.25rem;
    margin-bottom: 0.75rem;
}

.slds-illustration {
    background-color: #f3f2f2;
    border-radius: 0.25rem;
}

lightning-datatable {
    --slds-c-datatable-header-color-background: #fafaf9;
}
