.setting-box {
    border: 1px solid #dddbda;
    border-radius: 0.25rem;
    background-color: #f3f2f2; /* Slightly distinct background */
    transition: all 0.2s ease-in-out;
}

.setting-box:hover {
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    border-color: #b0adab;
}

.slds-card__header {
    padding-bottom: 0;
}