.fix-config-editor {
    background-color: var(--slds-g-color-neutral-base-95, #f3f3f3);
}

.info-icon {
    background-color: var(--slds-g-color-brand-base-50, #0176d3);
    border-radius: 50%;
    padding: 0.25rem;
}
